@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
    width: 10px;
}
 
 
::-webkit-scrollbar-track {
    background: #292930;
    border-radius: 5px;
    padding: 4px 2px;
}
 
 
::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 5px;
}
 

::-webkit-scrollbar-thumb:hover {
    background: #0b0c0c;
}